@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* hide class */
.hidden {
    display: none;
}

html {
    font-family: 'Press Start 2P', cursive;
    font-size: 62.5%;
    font-weight: 400;
    background: #f7e4fa;
}

.computerContainer, .playerContainer, .roundContainer, .gameContainer {
    display: flex;
    justify-content: space-between;
}


/* total score section */
.scoreContainer {
    text-align: center;
    height: 80px;
    margin-top: 20px;
    border-bottom: 1px solid black;
}


/* player & computer sections */
.computerContainer, .playerContainer {
    height: 200px;
}
.computerStats, .playerStats {
    width: 45%;
}
.computerImage, .playerImage {
    width: 55%;
    text-align: center;
}
img {
    height: 175px;
    width: 175px;
}
.computerStats {
    height: 40px;
    margin: 50px 0 0 10px;
    padding-left: 4%;
    border-left: 2px solid black;
    border-bottom-left-radius: 15px;
    border-bottom: 2px solid black;
}
.playerStats {
    height: 40px;
    margin: 50px 10px 0 0;
    padding-left: 4%;
    border-right: 2px solid black;
    border-bottom-right-radius: 15px;
    border-bottom: 2px solid black;
}


/* action & results section */
.roundContainer {
    height: 140px;
}
.gameContainer {
    height: 115px;
}
.dialogue {
    width: 60%;
}
.action {
    width: 40%;
}
.roundContainer .dialogue, .roundContainer .action {
    border: 5px double black;
    padding: 10px;
}
.roundContainer .selection {
    margin-top: 18px;
}
.gameContainer {
    padding: 10px;
}
.gameContainer .action {
    padding-left: 8%;
}


/* small tweaks */
/* .computerContainer, .playerContainer, .roundContainer {
    margin-top: 8px;
} */
#reportPlayer, #reportComputer {
    padding-bottom: 12px;
}
.selection:hover {
    cursor: pointer;
    color: #21368b;
}

@media (min-width: 800px) {
    body {
        display: flex;
        justify-content: center;
    }
    main {
        width: 800px;
    }
    .scoreContainer {
        border: 1px solid black;
    }
    .computerContainer, .playerContainer {
        border-right: 1px solid black; 
        border-left: 1px solid black; 
    }
    .computerStats {
        padding-left: 2%;
    }
    .playerStats {
        padding-left: 26%;
    }
    #reportComputer {
        padding-bottom: 50px;
    }
    .gameContainer {
        height: 68px;
    }
    .computerContainer, .playerContainer, .roundContainer, .gameContainer {
        margin-top: 0;
    }
    .gameContainer .dialogue {
        width: 65%;
    }
    .gameContainer .action {
        width: 35%;
    }
    .gameContainer .action {
        padding-left: 6%;
    }
    .health {
        font-size: 2rem;
    }
}